
/* Alternating Background Colors for Project Sections */
main section:nth-child(odd) {
    background-color: #31485244; /* same */
    padding: 20px;
    border-radius: 10px;
    width: 85%; /* Adjust width as needed */
    margin-left: 0; /* Align left */
}
main section:nth-child(even) {
    background-color: #31485244; /* dark green */
    padding: 20px;
    border-radius: 10px;
    width: 85%; /* Adjust width as needed */
    margin-left: auto; /* Align right */
}

/* Add some spacing between sections */
main section {
    margin-bottom: 30px;
    padding: 20px;
}

.image-container {
    background-color: white;
    display: inline-block;
    padding: 10px;
    width: 100%; /* Ensures it takes full section width */
    max-width: 700px;
    text-align: center; /* Centers the image */
}

.image-container img {
    width: 100%; /* Adapts to smaller section width */
    max-width: 700px; /* Prevents exceeding 700px */
    height: auto; /* Keeps the aspect ratio */
    display: block; /* Removes extra spacing */
    margin: 0 auto; /* Centers the image */
}

section iframe {
    width: 100%;
    max-width: 350px;
    height: auto;
    aspect-ratio: 16 / 9;
    /* display: block; */
    margin: 0 auto;
}

